@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background-primary text-white !font-lexend;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
.container_fluid {
    @apply container mx-auto px-5 md:px-10 lg:px-14 xl:px-28;
}

/* Rows */
.inline-start {
    @apply inline-flex items-center justify-start;
}

.inline-center {
    @apply inline-flex items-center justify-center;
}

.inline-start-center {
    @apply inline-flex items-center justify-start;
}

.inline-end {
    @apply inline-flex items-center justify-end;
}

.inline-between {
    @apply inline-flex items-center justify-between;
}

.inline-evenly {
    @apply inline-flex items-center justify-evenly;
}

.start {
    @apply flex items-center justify-start;
}

.start-start {
    @apply flex items-start justify-start;
}

.center-start {
    @apply flex items-start justify-center;
}

.center {
    @apply flex items-center justify-center;
}

.end {
    @apply flex items-center justify-end;
}

.between {
    @apply flex flex-row items-center justify-between;
}

.between-start {
    @apply flex flex-row items-start justify-between;
}

.evenly {
    @apply flex items-center justify-evenly;
}

.around {
    @apply flex items-center justify-around;
}

/* Cols */
.col-start {
    @apply flex flex-col items-start justify-center;
}

.col-start-start {
    @apply flex flex-col items-start justify-start;
}

.col-center {
    @apply flex flex-col items-center justify-center;
}

.inline-col-center {
    @apply inline-flex flex-col items-center justify-center;
}

.col-end {
    @apply flex flex-col items-end justify-center;
}

.col-between {
    @apply flex flex-col items-start justify-between;
}
.col-start-center {
@apply flex flex-col items-center justify-start;
}
}


.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}